<div id="<%= dom_id user %>">
  <p>
    <strong>Active:</strong>
    <%= user.active %>
  </p>

  <p>
    <strong>Fullname:</strong>
    <%= user.fullname %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Homepage:</strong>
    <%= user.homepage %>
  </p>

  <p>
    <strong>Laconica profile:</strong>
    <%= user.laconica_profile %>
  </p>

</div>
