<!DOCTYPE html>
<html>
  <head>
    <title>Hacienda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <style>
      
      
      
      body {background-color: white; 
      font-size: large; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  margin: 1.5em; line-height: 1.8em; font-size: 14pt;}
      
      header {font-size: 12pt;}
      footer {color: white; font-size: 12pt; text-align: center;background-image: url('https://foocorp.net/stripe.png') !important; padding: 1em;}
      footer hr {display: none;}
      footer p {background: black; display: inline; padding: 1em;}
      main {margin: 1em;}
      a {color: blue !important;}
      
      @media (prefers-color-scheme: dark) {
      body {background: #111; color: #eee}
      a {color: lime !important}
      }
      
      a{font-weight: bold;}
      a:hover{color: red; background-color: yellow;}
      html,body {
        height:100%;
        width:100%;
        margin:0;
      }
      
      
      @media (min-width: 1000px) {


      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .albumimage{
        float: right;
        width: 400px;
        text-align: center;
        font-size: 80%;
        line-height: 1.5;
      }
      
      .albumimage ul {list-style: none;}
      
      .albumimage img {width: 400px;}
      
      .otherreleases{font-size: small; line-height: 1;}
      
    }
      
      header {background: red; color: white; text-align: center;}
      
      @media (max-width: 1000px) {
      html, body, main {
      margin: 0;
      padding: 0;
      font-size: 10pt;
      }
      
      main {margin: 1em}
      .albumimage {margin: auto; width: 100%; max-width: 300px !important;}
      .albumimage img {max-width: 300px; width: 100%;}
      .albumimage ul {display: none;}
       
      
        
      
    </style>
    
  </head>

  <body>
    
    <header>
      <p>This is experimental software. These are non-functioning prototype screens designed to solicit <strong>your</strong> feedback on future development.</p>
    </header>
    
    <main>
           
      <a href="/prototypes">&larr; back  to prototypes</a>
    
    <%= yield %>
    
    <p class="clearfix">&nbsp;</p>
    
    </main>
    
    <footer>
      
      <hr />
      
      <p>Please report issues/feedback at <a href="https://github.com/foocorp/hacienda/issues">https://github.com/foocorp/hacienda/issues</a></p>
    
    </footer>
  </body>
</html>
